<% if @marketdata&.any? %>
<div class="row">    
        <h5>ETH Details</h5>
        <hr>
        
        <% if @crypto_details && !@crypto_details[:error] %>
            <div class="table-responsive">
                <table class="table table-sm">
                    <tr><td>Name</td><td><%= @crypto_details[:name] %></td></tr>
                    <tr><td>Slug</td><td><code><%= @crypto_details[:slug] %></code></td></tr>
                    <tr><td>Category</td><td><%= @crypto_details[:category] %></td></tr>
                    <tr><td>24h Fees</td><td><%= @crypto_details[:total24h] %></td></tr>
                    <tr><td>7d Fees</td><td><%= @crypto_details[:total7d] %></td></tr>
                    <tr><td>30d Fees</td><td><%= @crypto_details[:total30d] %></td></tr>
                    <tr><td>24h Change</td><td><%= @crypto_details[:change_1d] %>%</td></tr>
                    <tr><td>7d Change</td><td><%= @crypto_details[:change_7d] %>%</td></tr>
                    <tr><td>30d Change</td><td><%= @crypto_details[:change_30d] %>%</td></tr>
                </table>
            </div>
        <% else %>
            <div class="alert alert-warning">ETH data unavailable</div>
        <% end %>
</div>

<% else %>
<div class="alert alert-info">No market data available</div>
<% end %>
