<div class="container">
  <h1>Alert: <%= @alert.name %></h1>
  <h4>Criteria: (3 max)
    <h4>
      <ol>
        <% @alert.criteria.each do |criterium| %>
          <div class="d-flex align-items-center justify-content-between mt-4 mb-4">
            <div class="col-sm-6 col-lg-2">
              <li><%= criterium.indicatable.name %> <%= criterium.operand %> <%= criterium.value %> </li>
            </div>
            <div class="col-sm-6 col-lg-10">
              <%= link_to alert_path(@alert, criterium), { data: {turbo_method: :delete, turbo_confirm: "Delete this alert criteria?"}} do %> <i class="fa-solid fa-trash text-secondary"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </ol>
      <div class="mt-5">
        <%= simple_form_for [@alert, @criterium] do |f| %>
          <%= f.input :indicatable_id, collection: RelativeStrengthIndex.all, label_method: :label %>
          <%= f.input :operand, collection: Criterium::OPERANDS, prompt: "Select a condition" %>
          <%= f.input :value %>
          <%= f.submit "Add Criteria", class: "btn btn-primary" %>
        <% end %>
      </div>
      <%= link_to "My Alerts", alerts_path, class: "btn btn-secondary mt-4 mb-5" %>
      <%= link_to "Dashboard", dashboard_index_path, class: "btn btn-secondary mt-4 mb-5" %>
    </div>
